name: CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

env:
  CARGO_TERM_COLOR: always
  BINARYEN_VERSION: 122

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - name: Cargo Target Cache
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: target
          key: cargo-target-${{ hashFiles('Cargo.toml') }}
          restore-keys: |
            cargo-target-${{ hashFiles('Cargo.toml') }}
            cargo-target
      - name: Run cargo fmt
        run: cargo fmt --check
      - name: Run clippy
        run: cargo clippy --all-features -- -D warnings
      - name: Run clippy (wasm32-unknown-unknown target)
        run: cargo clippy --target wasm32-unknown-unknown --all-features --workspace --exclude shopify_function_trampoline --exclude integration_tests -- -D warnings
      - name: Run clippy (tests)
        run: cargo clippy --tests --all-features
      - name: Run clippy (benches)
        run: cargo clippy --benches --all-features
      - name: Run clippy (examples)
        run: cargo clippy --examples --all-features
      - name: Run clippy (examples, wasm32-unknown-unknown target)
        run: cargo clippy --examples --target wasm32-unknown-unknown --all-features

  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - name: Cargo Cache
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: ~/.cargo
          key: cargo-${{ hashFiles('Cargo.toml') }}
          restore-keys: |
            cargo-${{ hashFiles('Cargo.toml') }}
            cargo
      - name: Cargo Target Cache
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: target
          key: cargo-target-${{ hashFiles('Cargo.toml') }}
          restore-keys: |
            cargo-target-${{ hashFiles('Cargo.toml') }}
            cargo-target
      - name: Run tests
        run: cargo test
      - name: Run tests (examples)
        run: cargo test --examples

  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - name: Cargo Target Cache
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: target
          key: cargo-target-${{ hashFiles('Cargo.toml') }}
          restore-keys: |
            cargo-target-${{ hashFiles('Cargo.toml') }}
            cargo-target
      - name: Build
        run: cargo build --release --all-features
